@charset "utf-8";


:root { --mainColor:#5E2BB8; /* var(--mainColor) */ } 

/* reset */
*,body { margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.2px; } 
ul,li { list-style: none; margin: 0; padding: 0; } 
a { display: block;text-decoration: none; color: inherit; font-weight: inherit; } 
.blind { position: absolute; top: -999px; left: -9999px; text-indent: -99999999999px; font-size: 0; width: 0; height: 0; } 
.inner { width: 1400px; height: 100%; margin: 0 auto; } 
.onlyMobile { display: none; } 
i { margin-left: 8px; } 
/* body { overflow-x: hidden; } */



/* wrap */
.wrap { width: 100%; height: 100%; overflow-x: hidden } 



/* ============header============== */
.wrap header { width: 100%; height: 100px; background-color: #fff; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); position: absolute; left: 0; top: 0; z-index: 9; } 
.wrap header .headerInner { display: flex; justify-content: space-between; align-items: center; } 
/* sub Menu BackGround */
.wrap header .subMenuBG { width: 100%; background-color: #fafafa; height: 300px; position: absolute; top: 100px; left: 0; z-index: -1; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ; display: none; } 

/* logo */
.wrap header .headerInner h1.logo a img { height: 30px; } 
.wrap header .headerInner h1.logo a img:hover { opacity: 0.8; } 
/* menu */
.wrap header .headerInner nav.menu { font-weight: 600; color: var(--mainColor);  } 
.wrap header .headerInner nav.menu ul.bigMenu { display: flex; gap: 40px;} 
.wrap header .headerInner nav.menu ul.bigMenu>li { height: 100px; line-height: 100px;text-align: center; ; } 
/* sub menu */
.wrap header .headerInner nav.menu ul.bigMenu>li>ul.subMenu { top: 100px;  z-index: 99;  font-weight: 400; display: flex;flex-direction: column; } 
.wrap header .headerInner nav.menu ul.bigMenu>li>ul.subMenu>li { height: 50px; line-height: 50px; display: none; } 



/* ============section1 vedeo============== */
.wrap section#vedeo { width: 100%; height: 1000px; position: relative; } 
/* vedeo text */
.wrap section#vedeo .vedeoText { position: absolute; top: 0; left: 0; width: 100%; height: 1000px; z-index: 1; text-align: center; color: #fff; } 
.wrap section#vedeo .vedeoText svg.ticket { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); } 
.wrap section#vedeo .vedeoText p.topText { position: absolute; top: 270px; left: 50%; transform: translateX(-50%); font-size: 50px; font-weight: 400; } 
.wrap section#vedeo .vedeoText img.hana { display: block; position: absolute; z-index: -9; top: 370px; left: 50%; transform: translateX(-50%); } 
.wrap section#vedeo .vedeoText a p.resLink { position: absolute; bottom: 150px; left: 50%; transform: translateX(-50%); padding: 21px 50px; border-radius: 999px; border: #fff 5px solid; font-size: 30px; font-weight: 600; } 
/* vedeo tint */
.wrap section#vedeo .tint { position: absolute; top: 0; left: 0; width: 100%; height: 1000px; background: rgba(126, 111, 218, 0.50); z-index: -99; } 
/* vedeo bg */
.wrap section#vedeo video .bgVideo { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -999; } 
.wrap section#vedeo video { width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; z-index: -999; } 



/* ============section2 catch============== */
section#catch { width: 100%; position: relative;  } 
/* catch texts */
section#catch .catchTextBox { background: rgba(240, 240, 240, 0.5); border: #fff 1px solid; padding: 55px 35px; backdrop-filter: blur(10px); width: 740px; height: 500px; margin: 250px auto 200px; } 
section#catch .catchTextBox .catchTexts { display: flex; flex-direction: column; gap: 50px; align-items: center; } 
section#catch .catchTextBox .catchTexts .catchTextTitle { color: var(--mainColor); font-size: 50px; font-weight: 500; } 
section#catch .catchTextBox .catchTexts .catchTextMain { color: #353535; font-size: 20px; font-family: 'Noto Sans KR' } 
section#catch .catchTextBox .catchTexts .catchTextMain .catchTextMiddle { font-weight: 300; } 
section#catch .catchTextBox .catchTexts .catchTextMain .catchTextLast { font-weight: 400; } 
/* catch bg images */
section#catch .carrier { height: 900px; width: 900px; background: url(../images/carrier-image.png) no-repeat center/cover; position: absolute; z-index: -1; top: -150px; left: calc(50vw - 150px); } 
section#catch .passport { height: 460px; width: 460px; background: url(../images/passport-image.png) no-repeat center/cover; position: absolute; z-index: 2; top: 320px; left: calc(50vw + 150px); } 



/* ============section2 card============== */
/* card bg */
section#card { width: 100%;margin-top: 300px; } 
section#card .cardBg { overflow-x: hidden; position: relative; } 
/* card bg border */
section#card .cardBg .cardBgBorderGroup { display: flex; width: 3300px; margin-left: -570px; } 
section#card .cardBg .cardBgBorderGroup .bgBorder { background: url(../images/cardBgBorder.svg)no-repeat center/cover; width: 1100px; height: 1500px; margin: 0 -5px;} 
/* card bg image */
section#card .cardBg .cardBgImg { width: 100%; height: 100%; background: url(../images/cardBgImg.png)no-repeat center/cover; position: absolute; top: 0; left: 0; z-index: -1; background-attachment: fixed; } 

/* card fraim */
section#card .cardFraim { width: 460px; height: 560px; background-color: #f8f8f8; padding: 33px 32px 124px 32px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); box-sizing: border-box; margin: 10px; } 
section#card .cardFraimInner { padding: 26px 28px; height: 100%; background: #fff; box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset; box-sizing: border-box; position: relative; } 
section#card .cardFraim .cardFraimInner img { position: absolute; right: 40px; top: -70px;; z-index: 3; } 
section#card .cardFraim .cardFraimInner p.cardTitle { color: var(--mainColor); font-size: 50px; font-weight: 500; } 
section#card .cardFraim .cardFraimInner p.cardMain { color: #353535; font-size: 20px; text-align: right; font-weight: 300; position: absolute; bottom: 30px; width: 100%;right: 28px;} 
/* card position */
section#card { position: relative; } 
section#card .cardFraim:nth-child(1) { position: absolute; top: 0; left: calc(50vw - 500px); } 
section#card .cardFraim:nth-child(2) { position: absolute; top: 420px; left:calc(50vw - 190px); } 
section#card .cardFraim:nth-child(3) { position: absolute; top: 840px; left: calc(50vw - 500px); } 

/* ============section2 news============== */
section#news { width: 100%; } 
section#news .newsInner h2 { text-align: center; color: var(--mainColor); font-size: 50px; margin: 40px auto; } 
section#news .newsInner .newsGorup { display: flex; width: 100%; justify-content: space-between; } 
/* news card */
section#news .newsInner .newsGorup .newsCard { width: 430px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); } 
section#news .newsInner .newsGorup .newsCard a { width: 100%; height: 401px; display: block; } 
section#news .newsInner .newsGorup .newsCard a img { width: 100%; height: 100%; object-fit: cover; } 
/* news card text */
section#news .newsInner .newsGorup .newsCard .newsText { padding: 17px 30px; width: 100%; height: 199px; box-sizing: border-box; } 
section#news .newsInner .newsGorup .newsCard .newsText a.newsTitle { display: block; width: 100%; height: 70px; color: #353535; font-size: 20px; font-weight: 400; overflow: hidden; text-overflow: ellipsis; } 
section#news .newsInner .newsGorup .newsCard .newsText a.newsPrev { display: block; width: 100%; height: 59px; margin-bottom: 16px; color: #353535; font-size: 14px; font-weight: 300; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; } 
section#news .newsInner .newsGorup .newsCard .newsText p.newsDate { display: block; width: 100%; height: 20px; color: #353535; text-align: right; font-size: 14px; font-weight: 350;    } 
/* news More Btn */
section#news .newsInner p.newsMoreBtn { display: block; text-align: right; margin-top: 34px; color: #353535; font-size: 14px; font-weight: 300; margin-bottom: 53px; } 



/* ============ footer ============== */
footer { width: 100%; height: auto;background-color: #dfdfdf; } 
footer .footer-text { display: flex; flex-direction: row; gap: 12px; align-items: center; justify-content: center; flex-wrap: wrap; font-weight: 300; font-size: 12px; color: #353535; font-size: 12px; margin: 0 auto; padding : 40px 0;max-width: 600px; } 
footer a.bold, footer p.bold { color: #1f1f1f; font-weight: 400; } 



 
 /* ===========================================================
 1420px 
 =============================================================*/
 @media (max-width:1420px){
 .inner { width: calc(100vw - 60px); } 
 section#news .newsInner .newsGorup .newsCard { width: 30vw; } 
 }
 
 /* ===========================================================
1000px 
 =============================================================*/
 @media (max-width:1000px){
/* section vedeo */
.wrap section#vedeo { height: 800px; overflow: hidden; } 
.wrap section#vedeo .vedeoText { transform: scale(0.8) translateY(-50px); } 
.wrap section#vedeo .vedeoText p.topText { font-size: 40px; top: 285px;width: 600px;text-align: center; } 
.wrap section#vedeo .vedeoText p.resLink { font-size: 25px; padding: 15px 40px; } 
/* section card */
section#card .cardFraim:nth-child(1) { position: absolute; top: 0; left: calc(50vw - 400px); } 
section#card .cardFraim:nth-child(2) { position: absolute; top: 420px; left:calc(50vw - 90px); } 
section#card .cardFraim:nth-child(3) { position: absolute; top: 840px; left: calc(50vw - 400px); } 
section#card .cardBg .cardBgBorderGroup { margin-left: calc(-1650px + 50vw); } 
 }

 /* ===========================================================
880px 
 =============================================================*/
 @media (max-width:880px){
/* header */
.wrap header .headerInner nav.menu ul.bigMenu>li{display: none;}
.wrap header .headerInner nav.menu ul.bigMenu>li:last-child{display: block;font-size: 28px;}
/* section catch */
section#catch .catchTextBox {  padding:80px 25px; box-sizing: border-box;  width: calc(100vw - 60px); height: auto; margin: 250px auto 200px; } 
section#catch .carrier { height: 600px; width: 600px;  top: 50px; left: calc(50vw - 50px); } 
section#catch .passport { height: 350px; width: 350px; top: 400px; left: calc(50vw + 120px); } 
/* section card */
section#card {display: flex;flex-direction: column; align-items: center;} 
section#card .cardBg{margin-top: 200px;}

section#card .cardFraim:nth-child(1) { position: absolute; top: 0; left: 47vw;transform: translateX(-50%); } 
section#card .cardFraim:nth-child(2) { position: absolute; top: 610px; left: 47vw;transform: translateX(-50%); } 
section#card .cardFraim:nth-child(3) { position: absolute; top: 1220px; left: 47vw;transform: translateX(-50%); } 
section#card .cardBg .cardBgBorderGroup { display: flex; width: 3300px; margin-left: 0; } 
/* section news */
section#news{margin-top: 200px;}
section#news .newsInner .newsGorup .newsCard { width: calc(50vw - 40px); } 
section#news .newsInner .newsGorup .newsCard:last-child{display: none;}

 }
 /* ===========================================================
640px 
 =============================================================*/
 @media (max-width:640px){
/* section vedeo */
.wrap section#vedeo { height: 550px; } 
.wrap section#vedeo .vedeoText { transform: scale(0.5) translateY(-350px); } 
.wrap section#vedeo .vedeoText a p.resLink {width: 230px; padding: 21px 0; } 
/* section catch */
section#catch {margin-top: -150px;}
section#catch .catchTextBox .catchTexts .catchTextMain { font-size: 18px;  } 
section#catch .passport { height: 350px; width: 350px; top: 400px; left: calc(50vw + 50px); } 
/* sectioncard */
section#card .cardBg{margin-top: 60px;}

section#card .cardFraim{margin-left: -17px;}
section#card .cardInner{ transform: scale(0.9)translateY(-1800px); }
/* section news */
section#news .newsInner .newsGorup .newsCard { width: 100%; } 
section#news .newsInner .newsGorup .newsCard:nth-child(2){display: none;}
 }
 /* footer */
 
footer { padding-bottom: 40px;} 
footer .footerInner{width: 100vw;height: auto;}
footer .footer-text { width: 100%; height: auto;} 

 /* ===========================================================
460px 
 =============================================================*/
 @media (max-width:460px){

    .wrap section#vedeo { height: 450px; } 
    .wrap section#vedeo .vedeoText { transform: scale(0.4) translateY(-550px); } 

    section#catch .catchTextBox { padding: 35px 25px; }
    section#catch .catchTextBox .catchTexts .catchTextTitle { font-size: 32px; } 
    section#catch .catchTextBox .catchTexts .catchTextMain { font-size: 16px;  } 
    section#catch .carrier { height: 500px; width: 500px;  top: 50px; left: calc(50vw - 40px); } 
    section#catch .passport { height: 170px; width: 170px; top: 400px; left: calc(50vw + 50px); } 




    section#card .cardBg{margin-top: -300px;}
    section#card .cardInner{ transform: scale(0.7)translateY(-1950px); }
    section#card .cardFraim{width: 120vw;}
    
section#news .newsInner h2 { font-size: 30px; } 
section#news{margin-top: 0;}
section#news .newsInner .newsGorup .newsCard a{height: 301px;}
 }
